* {
    margin: 0px;
}

body {
    margin: 0px;
    font-family: 'Roboto Condensed', sans-serif;
    /* background-color: #FF3131; */
    background-image: url(https://images.unsplash.com/photo-1544656376-ffe19d4b7353?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8YmxhY2slMjBza3l8ZW58MHx8MHx8fDA%3D&w=1000&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.input-buttons {
    margin: auto;
    margin-top: 0vh;
    width: auto;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttons-only {
    display: flex;
    height: 30%;
    margin-top: 10px;
    padding-bottom: 0px;
    align-items: center;
    
}

.btn {
    position: relative;
    z-index: 10;
    padding: 0px;
    width: 10rem;
    transition: all 0.2s;
    border: 2px outset #2b3f23;
    cursor: pointer;
    background-color: skyblue;
    height: 10rem;
    margin: 0px 30px;
}

.btn-click {
    transform: scale(1.1);
    box-shadow: 0px 0px 5px 3px rgb(231, 229, 109), 0px 0px 20px 5px #da7f6b; /*add same color text to the label*/
    
}

.btn-div {
    display: flex;
    flex-direction: column;
}

.btn-text {
    font-size: 3rem;
    margin-top: 20px;
    color: rgb(11, 54, 11);
    text-align: center;
}

#rock {
    background-image: url(https://wallpapers.com/images/hd/gon-rock-paper-scissor-power-weuhljvk07gm4yqx.jpg); 
    background-size: cover; 
    background-position: center;
}

#paper {
    background-image: url(https://i.ytimg.com/vi/_vr25mXpJNE/maxresdefault.jpg);
    transform: background-image scale(2,2); 
    background-size: cover; 
    background-position: center;
}

#scissors {
    background-image: url(https://pm1.aminoapps.com/6663/6ec005f7f3fe5502879b175f9b3f3cb04b375814_hq.jpg);
    transform: background-image scale(2,2); 
    background-size: cover; 
    background-position: center;
}

.round-result {
    font-size: 3rem;
    width: 90%;
    height: 18vh;
    padding: 20px;
    margin: 0px 0px;
    text-align: center;
    color: rgba(230,186,89,255);
    box-shadow: #2b3f23;
}
.round-result span {
    font-size: 4rem;
    padding: 5px;
    display: inline-block;
    margin: 20px;
    color: #da7f6b;
}


.final-result {
    font-size: 4rem;
    padding: 10px;
    text-align: center;
    font-weight: 700;
    color: yellowgreen;
}

.play-again {
    background-image: url(https://i.quotev.com/62siaqkoaaaa.jpg);
    transform: background-image scale(2,2); 
    background-size: cover; 
    background-position: center;
    width: 10rem;
    transition: all 0.2s;
    border: 2px outset #2b3f23;
    cursor: pointer;
    background-color: skyblue;
    color: rgb(67, 163, 43);
    font-size: 20px;
    text-align: center;
    font-weight: 700;
    height: 5rem;
}

.score-div {
    color: rgba(230,186,89,255);
    width: 40%;
    font-size: 3rem;
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
}

.title {
    color:rgb(255, 224, 48);
    font-size: 4rem;
    padding: 15px;
    text-align: center;
}

.inner-title {
    font-size: 1.5rem;
}